.unicorn {
	width: 40vw;
	height: 50vh; // should be ratio scaled once SVG
}

// viewports the same or narrower than old school 768px width resolution should
// render staked content
@media (max-width: 768px) {
	.unicorn {
		float: none;

		// center this badboy, with some relative space top/bottom
		margin: 5vh auto;

		border: 1px dashed gold;
	}
}

@media (min-width: 769px) {
	.unicorn {
		float: right;
		margin-top: -100px;

		border: 1px dashed cyan;
	}
}
