/**
 * Terrible wholesale element settings.
 * TODO: modularise, no need for global slaps like this.
 **/
body {
  color: $color_fill--primary-inverse;
  background: $color_fill--primary;
}

a {
  color: $color_fill--primary-inverse;
}
