// Imported once into root App.js
@import '_variable';
@import '_mixins';
@import '_reset';

/**
 * Container of allll the app things
 **/
.app-container {
  padding: 10vw;
}

  /**
   * Custom styles for <Title />
   **/
  .title-main {
    margin: 0 0 1rem 0;
    padding: 0;
    border: 1px dashed white;
  }

  /**
   * Custom styles for <UserNavigation />
   **/
  .navigation-main {
    @include unlist();

    position: relative; // child elements may be absolutely positioned & animated
    z-index: 1; // base level navigation index, should always be accessible
    width: 40vw;
    height: 33vh;

    border: 1px dashed orange;

    &_item {

      position: absolute;
      width: 10vh;
      height: 10vh; // should be in ratio with width once SVG

      &:nth-child(1) {
        top: 0vh;
        border: 1px dashed cyan;
      }
      &:nth-child(2) {
        top: 4vh;
        left: 16vw;
        border: 1px dashed green;
      }
      &:nth-child(3) {
        top: 12vh;
        left: 30vw;
        border: 1px dashed turquoise;
      }
    }

      &_link {
        @include unlist();

        height: 64px;
      }
  }

  /**
   * Root view styles
   **/
  .view-root {
    border: 1px dashed red;
    margin: 40px 80px;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, .2);
  }

    /**
     * '/about' view styles
     **/
    .view-about {
    }

    /**
     * '/about' view styles
     **/
    .view-resources {
    }

    /**
     * '/play' Client-side connection view. In this view, a user may connect to Astaria.
     **/
    .view-play {

      .webclient-container {
        min-height: 25vh;
        width: 100%;
        border: 2px dashed red;
      }
    }
