// Imported once into root App.js
@import 'style/_variable';

// body {
//   color: $color_fill--primary-inverse;
//   background: $color_fill--primary;
// }

.view-root {
  margin: 40px 80px;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, .24);
}

.view-home {

  .cta {
    &-label {
      position: relative;
      background: transparent url('./images/icon_emblem-warriors--white-128x128.png') center center no-repeat;

      &--primary {
        z-index: 2;
        background: white;
      }
      &--secondary {
        z-index: 1;
        background: grey;
      }
    }

  }
}
