/**
 *
 **/
body {
  color: white;
  background: black; }

.view-root {
  margin: 40px 80px;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.24); }

.view-home .cta-label {
  position: relative;
  background: transparent url("./images/icon_emblem-warriors--white-128x128.png") center center no-repeat; }
  .view-home .cta-label--primary {
    z-index: 2;
    background: white; }
  .view-home .cta-label--secondary {
    z-index: 1;
    background: grey; }
