// Imported once into root App.js
@import 'style/_variable';

// body {
//   color: $color_fill--primary-inverse;
//   background: $color_fill--primary;
// }

.view-root {
  margin: 40px 80px;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, .24);
}

.view-home {

  .columns {
    display: flex;
  }
    .columns_column-gutter {
      width: $gutter--standard-width;
    }
    .columns_column--fluid {
    }

    .columns_column--fixed {
      margin-left: auto; // "any positive free space is distributed to auto margins in that dimension"
    }
      .cta {
        display: flex;
        min-width: 128px;
        height: 158px;
        background: transparent url('./images/icon_emblem-warriors--white-128x128.png') center top no-repeat;
        background-size: contain;

        &-label {
          display: block;
          margin-top: auto;
        }
      }
}

/**
 * Client-side connection View. In this view, a user may connect to Astaria.
 **/
.view-client {

  .webclient-container {
    min-height: 25vh;
    width: 100%;
    border: 2px dashed red;
  }
}
